@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
header{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
#navList{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;;
}
#navigation{
    display: flex;
    justify-content: center;
    gap: 200px;
    list-style-type: none;
    padding: 30px 0px;
}
header div:nth-child(2){
    display: flex;
    /* justify-content: center; */

}
#navigation button:nth-child(1){
    background: transparent;
    color: #fff;
    font-size: 18px;;
}
#navigation button:nth-child(2){
    background-repeat: no-repeat;
    color: #fff;
    background: transparent;
    font-size: 18px;;
    margin-left: 30px;;
}
#navigation span{
    background-image: url('./assets/btn-pink-bg.svg');
    background-repeat: no-repeat;

}
#description{
    margin-left: 50px;;
    padding-top: 100px;
}
#frontCard img:nth-child(1){
    position: relative;
    left: 500px;
}
#frontCard img:nth-child(2){
    /* position: relative; */
    margin-right: 1000px;
}
#description p:nth-child(1){
    font-size: 80px;;
    font-weight: bolder;
}
#description p:nth-child(2){
    font-size: 20px;;
    margin: 40px 0px;
    line-height: 25px;
    line-height: 35px;;
}
 #description button{
    /* background-image: url(./assets/btn-pink-bg.svg); */
    background: transparent;
    color: #fff;
    font-size: 24px;;
}
#buttonn{
    background-image: url(./assets/btn-pink-bg.svg);
    background-repeat: no-repeat;
 }
#description span{
    color: rgb(228, 39, 228);

}
#logo{
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 35, 35);
    justify-content: center;
    gap: 100px;
    padding: 100px 0px;
}
#top{
    display: flex;
    justify-content: center;
    gap: 250px;
}
.service-page{
    background-color: #1d1d1d;
    color: #fff;
    padding-top: 100px;
}
.service-page span{
    color: rgb(179, 20, 179);
}
#top p:nth-child(1){
    font-size: 57px;;
    font-weight: bolder;
    line-height: 70px;;
}
#top p:nth-child(2){
    font-size: 18px;;
    line-height: 36px;;
    color: rgb(230, 223, 224);
}
#bottom{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 200px 0px;
}
#bottom div{
    width: 450px;
    height: 400px;
    background-color: rgb(87, 83, 83);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#bottom div img{
    height: 170px;
}
#bottom div p{
    text-align: center;
    font-size: 26px;;
    line-height: 30px;;
}
#vcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
}
#vcard p:nth-child(1), #container p:nth-child(1) {
    font-size: 66px;
    font-weight: bolder;
    line-height: 80px;;
    margin-bottom: 50px;;
}
#vcard p:nth-child(2), #container P:nth-child(2){
    font-size: 24px;
    line-height: 35px;
    color:rgb(134, 129, 129)
}
#vcard span, #container span{
    color: rgb(185, 46, 185);
}
#container p{
    text-align: center;
    color: #fff;

}
#bg-black{
    background-color: rgb(6, 6, 6);
    padding: 100px 0px;
}
.star{
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 70px;
}
.star div{
    background-color: rgb(50, 48, 48);
    width: 600px;
    height: 300px;
    margin: 50px;
    padding: 40px;
}
.star img{
    margin-bottom: 30px;;
}
.f-para{
    font-size: 25px;;
    line-height: 40px;;
    margin-bottom: 40px;;
}
.s-para{
    font-size: 20px;;
    line-height: 30px;;
}
.star span{
    color: rgb(216, 207, 207);
    font-size: 16px;
}
#image img:nth-child(1){
    width: 100vw;  
}
.bg-3D{
    background-color: rgb(0, 0, 0);
    height: 900px;
}
#image img:nth-child(2){
    width: 100vw;  
    position: relative;
    bottom: 800px;
}
#image img:nth-child(3){
    position: relative;
    float: left;
    bottom: 1500px;
    height: 700px;
}
#image img:nth-child(4){
    position: relative;
    float: right;
    bottom: 1500px;
    height: 700px;
}
.custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    position: relative;
    bottom: 1300px;
}
.custom p{
    font-size: 55px;;
    line-height: 70px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;;
}
.custom span{
    color: #000;
}
.custom button{
    font-size: 25px;;
    background-repeat: no-repeat;
    color: #fff;
    margin-right: 10px;
    border: none;
    background: transparent;
}
#btn{
    background-image: url('./assets/btn-pink-bg.svg');
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 50px;;
}
#btn img{
    margin-left: 10px;;
}
#footer{
    display: flex;
    justify-content: center;
    background-color: #000;
    gap:100px;
    padding: 170px 0px;
}
.items{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #fff;
    list-style-type: none;
    font-size: 20px;;
}